.logo {
    &--blue {
        color: $accent-color;
    }

    &--black {
        color: $logo-black;
    }

    &--white {
        color: $text-title-hero;
    }
}

.logo--footer {
    display: block;
    margin-bottom: 20px;
    text-align: center;

    @media screen and (min-width:1170px) {
        text-align: start;
    }
}